* {
	font-family: inherit;
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	background-color: black;
	font-family: monospace;
}

canvas {
	height: calc(100vh - 60px);
	display: block;
	background-color: #000000;
	aspect-ratio: 4/10;
	margin: 0 auto;
}

.controls {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

button {
	display: block;
	border-radius: 100px;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}

#score {
	background-color: #7f7f7f;
	padding: 10px 15px;
	border-radius: 200px;
	font-size: 15px;
	display: flex;
	align-items: center;
}